@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #ffe259; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #ffe259
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fas,
.fa-keyboard {
  margin-right: 0.5em;
}

.title {
  text-align: center;
  margin-bottom: 1em;
}

.container {
  margin-top: 5em;
  margin-bottom: 2em;
  padding: 2em;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0.3em 2em 0.5em rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

form {
  width: 80%;
}

.form-input {
  outline: none !important;
  box-sizing: border-box;
  transition: all 0.3s;
  outline: 0 !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 5px;
}
.form-input:focus {
  box-shadow: none;
  outline: none !important;
  outline: 0 !important;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

.required label:after {
  content: "*";
  color: red;
  padding-left: 5px;
}

.input-icons .form-input {
  padding-left: 40px;
}

.input-icons {
  position: relative;
}
.input-icons i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 3px 0 0 8px;
  color: #a9a9a9;
}

.btn:focus {
  outline: none;
}

.message-container {
  border: 1px solid black;
  padding: 0 1em;
  border-radius: 5px;
  width: 90%;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  color: black;
}

#message {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media screen and (max-width: 750px) and (min-width: 601px) {
  .container {
    padding: 2em;
    width: 400px;
    width: 60%;
  }
}

@media screen and (max-width: 600px) and (min-width: 301px) {
  .container {
    padding: 2em;
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .container {
    padding: 1em;
    width: 80%;
  }
}
